* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

.image-container {
  width: 100px;
  height: 100px;
  background-color: none;
  border: none;
  display: block;
  object-fit: contain;
  margin-left: 10px;
}


.card{
  display: flex;
  align-items: center;
  margin: 0.5rem;
  border: none;
  justify-content: center;

}


img {
  object-fit: contain;
  width: auto;
  max-height: 100%;
}

.imgcaja {
  width: 100%;
  height: max-content;
}

.imgProductos {
  width: 150px;
  height: 150 px;
  object-fit: contain;
  margin-top: 1 rem;
}

.text1 {
  font-family: "Ms Madi", cursive;
  text-align: center;
}

.text2 {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  align-items: center;
}

.text3 {
  font-family: "Courier New", Courier, monospace;
  font-size: 3rem;
  align-items: center;
  justify-content: center;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: rgb(233, 191, 236);
  align-items: flex-start;
  margin-top: 30px;
}

.footer_text {
  font-size: 2rem;
}

.redes {
  grid-area: redes;
}
.redes_title {
  background-color: rgb(233, 191, 236);
  text-align: center;
  font-family: "roboto";
  font-weight: bolder;
  padding: 14px;
}

.colorBoton {
  color: white;
  background-color: #ae65bb;
}

.colorBoton:hover {
  background-color: rgba(239, 167, 212, 0.785);
  color: white;
}

.contenedor_redes {
  padding: 10px;
  flex-direction: row;
  display: flex;
  justify-content: center;
  width: 100%;
}

.iconredes {
  width: 100%;
}

.form {
  grid-area: form;
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}
.form_text {
  font-family: "Roboto", sans-serif;
  color: black;
}

.container_form {
  display: flex;
  align-items: flex-end;
  color: rgb(211, 150, 214);
  text-align: center, justify;
}

.navbar1, .navbox {
  background-color: white;
  color: white;
}

.navbox {
  display: flex;
}
.navbox_1 {
  display: flex;
  justify-content: end;
  align-items: flex-start;
}

.header1 {
  color: white;
  border: none;
  background-color: white;
}

.headerflex {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20%, 20%;
}

.headerfrase {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20%, 20%;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
.headerfrase P {
  size: 20px;
  object-fit: contain;
  font-family: "Ms Madi", cursive;
  font-size: 30px;
}

.buttonsale {
  background-color: gray;
  color: white;
  border: 10px;
  border-radius: 10px;
  width: 6rem;
  height: 3rem;
  font-weight: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonsale:hover {
  border: rgb(237, 165, 241);
  background-color: none;
  color: black;
}

.caja_boton {
  background-color: rgb(211, 150, 214);
  color: black;
  border: 10px;
  border-radius: 20px;
  width: 10rem;
  height: 3rem;
  font-weight: 5px;
  text-align: center;
}
.caja_boton:hover {
  border: rgb(228, 206, 229);
  color: rgb(228, 206, 229);
}

.caja_boton2 {
  background-color: rgb(211, 150, 214);
  color: black;
  border: 5px;
  border-radius: 15px;
  width: 10rem;
  height: 3rem;
  font-weight: 5px;
  text-align: center;
}
.caja_boton2:hover {
  border: rgb(228, 206, 229);
  color: rgb(228, 206, 229);
}

.caja {
  padding: 20px;
  border: none;
  width: 1500px;
  height: max-content;
  display: flex;
  flex-direction: column;
}
.caja img {
  width: 1000px;
  height: min-content;
}
.caja p {
  text-align: center;
  font-size: 20px;
}
.caja1 {
  border: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  align-items: center;
}
.caja1_text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.caja4 img {
  padding: 2%;
}

.contenedor_instagram {
  margin-bottom: 10px;
}

/* --- Seccion Sale --- */
.sale {
  grid-area: sale;
}
.sale_contenedor {
  display: flex;
  width: auto;
  overflow-x: auto;
  gap: 20px;
}
.sale_title {
  text-align: center;
  padding: 10px;
  background-color: rgb(230, 191, 232);
  font-family: "roboto", cursive;
  color: black;
  font-weight: bolder;
  font-display: 10px;
}

.box_sale {
  margin-top: 10px;
}
.box_sale img {
  height: min-content;
}

/*# sourceMappingURL=styles.css.map */
