.form {
    grid-area: form;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    &_text {
        font-family: 'Roboto', sans-serif;
        color: black;
    }
    }


    
.container_form {
    display: flex;
    align-items: flex-end;
    color: rgb(211, 150, 214);
    text-align: center, justify;
        
    }