.form {
    grid-area: form;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    
    }
    
.container form {
    color: rgb(211, 150, 214);
    text-align: center, justify;
        
    }