* {
    margin: 0;
    padding: 0;
    
}

body {
    background-color:white;
  }

.image-container {
    width: 300px;
    height: 400px;
    background-color:none;
    border: none;
    display: block;
    margin-left: 10px;
  
}

.image-portada {
    width: 500px;
    height: 500px;
    background-color:none;
    border: none;
    display: block;
    object-fit: contain;
    margin-left: 10px;

}

img {
    object-fit: contain;
    width: auto; 
    max-height: 100%
   }

.imgcaja {
    width: 20px;
    height: 30px;


}