
.text1 {
    font-family: 'Ms Madi', cursive;
    text-align: center;
   
}

.text2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    align-items: center;
}

.text3 {

    font-size: 3rem;
    text-align: center;
    text-align: center;
    font-family:'roboto', cursive;
    color: black;
    font-weight: bolder;
    font-display: 10px;
}
