
.text1 {
    font-family: 'Ms Madi', cursive;
    text-align: center;
   
}

.text2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    align-items: center;
}

.text3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
    align-items: center;
    justify-content: center;
}